UPMSocialReading/UPMSocialReading.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl2:description xmlns:wsdl2="http://www.w3.org/ns/wsdl" xmlns:wsoap="http://www.w3.org/ns/wsdl/soap" xmlns:whttp="http://www.w3.org/ns/wsdl/http" xmlns:ns="http://sos.fi.upm.es" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ax23="http://xsd.sos.fi.upm.es/xsd" xmlns:ax26="http://io.java/xsd" xmlns:wsdlx="http://www.w3.org/ns/wsdl-extensions" xmlns:ax25="http://rmi.java/xsd" xmlns:tns="http://sos.fi.upm.es" xmlns:wrpc="http://www.w3.org/ns/wsdl/rpc" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ax21="http://sos.fi.upm.es/xsd" targetNamespace="http://sos.fi.upm.es">
    <wsdl2:types>
        <xs:schema xmlns:ax27="http://io.java/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://rmi.java/xsd">
            <xs:import namespace="http://io.java/xsd"/>
            <xs:complexType name="RemoteException">
                <xs:complexContent>
                    <xs:extension base="ax27:IOException">
                        <xs:sequence>
                            <xs:element minOccurs="0" name="cause" nillable="true" type="xs:anyType"/>
                            <xs:element minOccurs="0" name="message" nillable="true" type="xs:string"/>
                        </xs:sequence>
                    </xs:extension>
                </xs:complexContent>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax28="http://rmi.java/xsd" xmlns:ax22="http://sos.fi.upm.es/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sos.fi.upm.es">
            <xs:import namespace="http://sos.fi.upm.es/xsd"/>
            <xs:import namespace="http://rmi.java/xsd"/>
            <xs:element name="logout">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="logout" nillable="true" type="ax22:Logout"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addFriend">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="addFriend" nillable="true" type="ax22:AddFriend"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addFriendResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:AddFriendResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="UPMSocialReadingSkeletonRemoteException">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="RemoteException" nillable="true" type="ax28:RemoteException"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="addUser" nillable="true" type="ax22:AddUser"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:AddUserResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeFriend">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="removeFriend" nillable="true" type="ax22:RemoveFriend"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeFriendResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:RemoveFriendResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMyFriendReadings">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="getMyFriendReadings" nillable="true" type="ax22:GetMyFriendReadings"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMyFriendReadingsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:GetMyFriendReadingsResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMyFriendList">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="getMyFriendList" nillable="true" type="ax22:GetMyFriendList"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMyFriendListResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:GetMyFriendListResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="login">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="login" nillable="true" type="ax22:Login"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="loginResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:LoginResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeUser">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="removeUser" nillable="true" type="ax22:RemoveUser"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="removeUserResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:RemoveUserResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMyReadings">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="getMyReadings" nillable="true" type="ax22:GetMyReadings"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getMyReadingsResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:GetMyReadingsResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addReading">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="addReading" nillable="true" type="ax22:AddReading"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addReadingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:AddReadingResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePassword">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="changePassword" nillable="true" type="ax22:ChangePassword"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="changePasswordResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="ax22:ChangePasswordResponse"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://io.java/xsd">
            <xs:complexType name="IOException">
                <xs:sequence/>
            </xs:complexType>
        </xs:schema>
        <xs:schema xmlns:ax24="http://xsd.sos.fi.upm.es/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://sos.fi.upm.es/xsd">
            <xs:import namespace="http://xsd.sos.fi.upm.es/xsd"/>
            <xs:complexType name="Logout">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="AddFriend">
                <xs:sequence>
                    <xs:element minOccurs="0" name="args0" nillable="true" type="ax24:Username"/>
                    <xs:element minOccurs="0" name="args0Specified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AddFriendResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_return" nillable="true" type="ax24:Response"/>
                    <xs:element minOccurs="0" name="_returnSpecified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AddUser">
                <xs:sequence>
                    <xs:element minOccurs="0" name="args0" nillable="true" type="ax24:Username"/>
                    <xs:element minOccurs="0" name="args0Specified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AddUserResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_return" nillable="true" type="ax24:AddUserResponse"/>
                    <xs:element minOccurs="0" name="_returnSpecified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RemoveFriend">
                <xs:sequence>
                    <xs:element minOccurs="0" name="args0" nillable="true" type="ax24:Username"/>
                    <xs:element minOccurs="0" name="args0Specified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RemoveFriendResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_return" nillable="true" type="ax24:Response"/>
                    <xs:element minOccurs="0" name="_returnSpecified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetMyFriendReadings">
                <xs:sequence>
                    <xs:element minOccurs="0" name="args0" nillable="true" type="ax24:Username"/>
                    <xs:element minOccurs="0" name="args0Specified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetMyFriendReadingsResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_return" nillable="true" type="ax24:TitleList"/>
                    <xs:element minOccurs="0" name="_returnSpecified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetMyFriendList">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="GetMyFriendListResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_return" nillable="true" type="ax24:FriendList"/>
                    <xs:element minOccurs="0" name="_returnSpecified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Login">
                <xs:sequence>
                    <xs:element minOccurs="0" name="args0" nillable="true" type="ax24:User"/>
                    <xs:element minOccurs="0" name="args0Specified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="LoginResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_return" nillable="true" type="ax24:Response"/>
                    <xs:element minOccurs="0" name="_returnSpecified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RemoveUser">
                <xs:sequence>
                    <xs:element minOccurs="0" name="args0" nillable="true" type="ax24:Username"/>
                    <xs:element minOccurs="0" name="args0Specified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="RemoveUserResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_return" nillable="true" type="ax24:Response"/>
                    <xs:element minOccurs="0" name="_returnSpecified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="GetMyReadings">
                <xs:sequence/>
            </xs:complexType>
            <xs:complexType name="GetMyReadingsResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_return" nillable="true" type="ax24:TitleList"/>
                    <xs:element minOccurs="0" name="_returnSpecified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AddReading">
                <xs:sequence>
                    <xs:element minOccurs="0" name="args0" nillable="true" type="ax24:Book"/>
                    <xs:element minOccurs="0" name="args0Specified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AddReadingResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_return" nillable="true" type="ax24:Response"/>
                    <xs:element minOccurs="0" name="_returnSpecified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ChangePassword">
                <xs:sequence>
                    <xs:element minOccurs="0" name="args0" nillable="true" type="ax24:PasswordPair"/>
                    <xs:element minOccurs="0" name="args0Specified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="ChangePasswordResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="_return" nillable="true" type="ax24:Response"/>
                    <xs:element minOccurs="0" name="_returnSpecified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://xsd.sos.fi.upm.es/xsd">
            <xs:complexType name="Username">
                <xs:sequence>
                    <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="usernameSpecified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Response">
                <xs:sequence>
                    <xs:element minOccurs="0" name="response" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="responseSpecified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="AddUserResponse">
                <xs:sequence>
                    <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pwdSpecified" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="response" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="responseSpecified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="TitleList">
                <xs:sequence>
                    <xs:element minOccurs="0" name="result" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="resultSpecified" type="xs:boolean"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="titles" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="titlesSpecified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="FriendList">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" name="friends" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="friendsSpecified" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="result" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="resultSpecified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="User">
                <xs:sequence>
                    <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="nameSpecified" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="pwd" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="pwdSpecified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="Book">
                <xs:sequence>
                    <xs:element minOccurs="0" name="author" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="authorSpecified" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="calification" type="xs:int"/>
                    <xs:element minOccurs="0" name="calificationSpecified" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="titleSpecified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="PasswordPair">
                <xs:sequence>
                    <xs:element minOccurs="0" name="newpwd" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="newpwdSpecified" type="xs:boolean"/>
                    <xs:element minOccurs="0" name="oldpwd" nillable="true" type="xs:string"/>
                    <xs:element minOccurs="0" name="oldpwdSpecified" type="xs:boolean"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl2:types>
    <wsdl2:interface name="ServiceInterface">
        <wsdl2:fault name="UPMSocialReadingSkeletonRemoteException" element="ns:UPMSocialReadingSkeletonRemoteException"/>
        <wsdl2:operation name="removeFriend" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="removeFriend #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:removeFriend" wsaw:Action="urn:removeFriend"/>
            <wsdl2:output element="ns:removeFriendResponse" wsaw:Action="urn:removeFriendResponse"/>
        </wsdl2:operation>
        <wsdl2:operation name="getMyFriendReadings" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="getMyFriendReadings #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:getMyFriendReadings" wsaw:Action="urn:getMyFriendReadings"/>
            <wsdl2:output element="ns:getMyFriendReadingsResponse" wsaw:Action="urn:getMyFriendReadingsResponse"/>
        </wsdl2:operation>
        <wsdl2:operation name="logout" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="logout #in " pattern="http://www.w3.org/ns/wsdl/in-only">
            <wsdl2:input element="ns:logout" wsaw:Action="urn:logout"/>
        </wsdl2:operation>
        <wsdl2:operation name="addFriend" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="addFriend #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:addFriend" wsaw:Action="urn:addFriend"/>
            <wsdl2:output element="ns:addFriendResponse" wsaw:Action="urn:addFriendResponse"/>
        </wsdl2:operation>
        <wsdl2:operation name="removeUser" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="removeUser #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:removeUser" wsaw:Action="urn:removeUser"/>
            <wsdl2:output element="ns:removeUserResponse" wsaw:Action="urn:removeUserResponse"/>
            <wsdl2:outfault ref="tns:UPMSocialReadingSkeletonRemoteException" wsaw:Action="urn:removeUserUPMSocialReadingSkeletonRemoteException"/>
        </wsdl2:operation>
        <wsdl2:operation name="getMyReadings" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="getMyReadings #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:getMyReadings" wsaw:Action="urn:getMyReadings"/>
            <wsdl2:output element="ns:getMyReadingsResponse" wsaw:Action="urn:getMyReadingsResponse"/>
        </wsdl2:operation>
        <wsdl2:operation name="addUser" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="addUser #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:addUser" wsaw:Action="urn:addUser"/>
            <wsdl2:output element="ns:addUserResponse" wsaw:Action="urn:addUserResponse"/>
            <wsdl2:outfault ref="tns:UPMSocialReadingSkeletonRemoteException" wsaw:Action="urn:addUserUPMSocialReadingSkeletonRemoteException"/>
        </wsdl2:operation>
        <wsdl2:operation name="getMyFriendList" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="getMyFriendList #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:getMyFriendList" wsaw:Action="urn:getMyFriendList"/>
            <wsdl2:output element="ns:getMyFriendListResponse" wsaw:Action="urn:getMyFriendListResponse"/>
        </wsdl2:operation>
        <wsdl2:operation name="addReading" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="addReading #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:addReading" wsaw:Action="urn:addReading"/>
            <wsdl2:output element="ns:addReadingResponse" wsaw:Action="urn:addReadingResponse"/>
        </wsdl2:operation>
        <wsdl2:operation name="login" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="login #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:login" wsaw:Action="urn:login"/>
            <wsdl2:output element="ns:loginResponse" wsaw:Action="urn:loginResponse"/>
            <wsdl2:outfault ref="tns:UPMSocialReadingSkeletonRemoteException" wsaw:Action="urn:loginUPMSocialReadingSkeletonRemoteException"/>
        </wsdl2:operation>
        <wsdl2:operation name="changePassword" style="http://www.w3.org/ns/wsdl/style/rpc" wrpc:signature="changePassword #in return #return " pattern="http://www.w3.org/ns/wsdl/in-out">
            <wsdl2:input element="ns:changePassword" wsaw:Action="urn:changePassword"/>
            <wsdl2:output element="ns:changePasswordResponse" wsaw:Action="urn:changePasswordResponse"/>
            <wsdl2:outfault ref="tns:UPMSocialReadingSkeletonRemoteException" wsaw:Action="urn:changePasswordUPMSocialReadingSkeletonRemoteException"/>
        </wsdl2:operation>
    </wsdl2:interface>
    <wsdl2:binding name="UPMSocialReadingSkeletonSoap12Binding" interface="tns:ServiceInterface" type="http://www.w3.org/ns/wsdl/soap" wsoap:version="1.2">
        <wsdl2:fault ref="tns:UPMSocialReadingSkeletonRemoteException"/>
        <wsdl2:operation ref="tns:removeFriend" wsoap:action="urn:removeFriend">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getMyFriendReadings" wsoap:action="urn:getMyFriendReadings">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:logout" wsoap:action="urn:logout">
            <wsdl2:input/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:addFriend" wsoap:action="urn:addFriend">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:removeUser" wsoap:action="urn:removeUser">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:UPMSocialReadingSkeletonRemoteException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getMyReadings" wsoap:action="urn:getMyReadings">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:addUser" wsoap:action="urn:addUser">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:UPMSocialReadingSkeletonRemoteException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getMyFriendList" wsoap:action="urn:getMyFriendList">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:addReading" wsoap:action="urn:addReading">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:login" wsoap:action="urn:login">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:UPMSocialReadingSkeletonRemoteException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:changePassword" wsoap:action="urn:changePassword">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:UPMSocialReadingSkeletonRemoteException"/>
        </wsdl2:operation>
    </wsdl2:binding>
    <wsdl2:binding name="UPMSocialReadingSkeletonSoap11Binding" interface="tns:ServiceInterface" type="http://www.w3.org/ns/wsdl/soap" wsoap:version="1.1">
        <wsdl2:fault ref="tns:UPMSocialReadingSkeletonRemoteException"/>
        <wsdl2:operation ref="tns:removeFriend" wsoap:action="urn:removeFriend">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getMyFriendReadings" wsoap:action="urn:getMyFriendReadings">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:logout" wsoap:action="urn:logout">
            <wsdl2:input/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:addFriend" wsoap:action="urn:addFriend">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:removeUser" wsoap:action="urn:removeUser">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:UPMSocialReadingSkeletonRemoteException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getMyReadings" wsoap:action="urn:getMyReadings">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:addUser" wsoap:action="urn:addUser">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:UPMSocialReadingSkeletonRemoteException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getMyFriendList" wsoap:action="urn:getMyFriendList">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:addReading" wsoap:action="urn:addReading">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:login" wsoap:action="urn:login">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:UPMSocialReadingSkeletonRemoteException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:changePassword" wsoap:action="urn:changePassword">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:UPMSocialReadingSkeletonRemoteException"/>
        </wsdl2:operation>
    </wsdl2:binding>
    <wsdl2:binding name="UPMSocialReadingSkeletonHttpBinding" interface="tns:ServiceInterface" whttp:methodDefault="POST" type="http://www.w3.org/ns/wsdl/http">
        <wsdl2:fault ref="tns:UPMSocialReadingSkeletonRemoteException"/>
        <wsdl2:operation ref="tns:removeFriend" whttp:location="removeFriend">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getMyFriendReadings" whttp:location="getMyFriendReadings">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:logout" whttp:location="logout">
            <wsdl2:input/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:addFriend" whttp:location="addFriend">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:removeUser" whttp:location="removeUser">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:UPMSocialReadingSkeletonRemoteException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getMyReadings" whttp:location="getMyReadings">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:addUser" whttp:location="addUser">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:UPMSocialReadingSkeletonRemoteException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:getMyFriendList" whttp:location="getMyFriendList">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:addReading" whttp:location="addReading">
            <wsdl2:input/>
            <wsdl2:output/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:login" whttp:location="login">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:UPMSocialReadingSkeletonRemoteException"/>
        </wsdl2:operation>
        <wsdl2:operation ref="tns:changePassword" whttp:location="changePassword">
            <wsdl2:input/>
            <wsdl2:output/>
            <wsdl2:outfault ref="tns:UPMSocialReadingSkeletonRemoteException"/>
        </wsdl2:operation>
    </wsdl2:binding>
    <wsdl2:service name="UPMSocialReadingSkeleton" interface="tns:ServiceInterface">
        <wsdl2:endpoint name="UPMSocialReadingSkeletonHttpSoap11Endpoint" binding="tns:UPMSocialReadingSkeletonSoap11Binding" address="http://localhost:8080/axis2/services/UPMSocialReadingSkeleton"/>
        <wsdl2:endpoint name="UPMSocialReadingSkeletonHttpSoap12Endpoint" binding="tns:UPMSocialReadingSkeletonSoap12Binding" address="http://localhost:8080/axis2/services/UPMSocialReadingSkeleton"/>
        <wsdl2:endpoint name="UPMSocialReadingSkeletonHttpEndpoint" binding="tns:UPMSocialReadingSkeletonHttpBinding" address="http://localhost:8080/axis2/services/UPMSocialReadingSkeleton"/>
    </wsdl2:service>
</wsdl2:description>
